.gameItem {
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 360px;
    height: 320px;
    background-color: rgb(27, 27, 37);
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
}
.gameItem:not(:last-child) {
    margin-bottom: 30px;
    margin-bottom: 50px;
}
.gameItemTitle {
    font-size: 19px;
    font-weight: bold;
}
.gameItemGenre {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}
.gameItemDetail {
    padding: 10px 20px;
    
}
.gameItemDescrip {
    margin-top: 10px;
    font-size: 16px;
    
}
.gameItemBuy {
    position: absolute;
    right: 0;
    bottom: 10px;
}