.btn {
    border-radius: 18px;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px;
    cursor: pointer;
}
.btn--secondary {
    background-color:rgb(85, 82, 82);

}
.btn--primary {
    background-color: rgb(151, 180, 113);
}
.btn--primary:hover {
    background-color: rgb(159, 197, 109);
}
.btn--small {
    font-size: 14px;
}
.btn--medium {
    font-size: 18px;
}
