.btn {
    border-radius: 15px;
    color: darkgray;
    border: none;
    padding: 5px;
    cursor: pointer;
}
.btn--secondary {
    background-color:rgb(131, 121, 121);

}
.btn--primary {
    background-color: rgb(255, 255, 255);
}
.btn--small {
    font-size: 14px;
}
.btn--medium {
    font-size: 18px;
}
