.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.wrapper {
    display: flex;
    flex-grow: 1;
}
.header_title {
    font-size: 35px;
    font-weight: bold;
    color: cornsilk;
    text-decoration: none;
}
.header_card {
    justify-content: flex-end;
}
